<!DOCTYPE html>
<html ng-app>
<head>
	<meta charset="utf-8">
	<link rel="icon" href="assets/images/favicon.ico">
	<html lang="en-us">
	<title>Flashcard Generator| Timothy Dry</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
	<script
	  src="https://code.jquery.com/jquery-3.2.1.min.js"
	  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
	  crossorigin="anonymous"></script>
	<script src="assets/javascript/flash.js"> </script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="assets/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Kanit:800|Sintony:400,700" rel="stylesheet">
</head>
<body>
	
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 text-center">
				<h1> Flash Card Machine</h1>
				<h3 class='setup'>Use the buttons and forms below to make: </h3>
				<h3 class='setup'><span class="bold">Basic</span> flashcards with questions on one side and answers on the other.<br>
				 <span class="bold">Cloze</span> flashcards, with a key portion - the answer,<br>removed and placed on the back.</h3>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<section id="mybutton" class="setup">
					<div class="row">
						<div  class="setup col-md-12 text-center">
							<button id="basicbtn" class="mybtn" value="basic" data-selected="true">Basic Cards</button>
							<button id="clozebtn" class="mybtn" value="cloze" data-selected="false">Cloze Cards</button>
							<button id="gamebtn" class="mybtn" value="game" data-selected="false">Use Flashcards</button>
						</div>
					</div>
				</section>
				<section id="basic" class="setup">
					<form> <!-- action="/localhost:8080" method="post" enctype="multipart/form-data" -->
						<h3 class="text-center">Create Basic Cards</h3>
						<h3 id="basicerror" class="text-center">Please complete both fields and resubmit.</h3>
				         <fieldset>
				            <label for="front">Front of Card:</label>
				            <input ng-model="frontb" type="text" id="frontb" name="frontb" placeholder="Enter the Question for the Front" /><span class="myngstyle"> {{100 - frontb.length}} </span>
				            <br />
				            <label for="back">Back of Card:</label>
				            <input ng-model="backb" type="text" id="backb" name="backb" placeholder="Enter the Answer for the Back" /><span class="myngstyle"> {{50 - backb.length}} </span>
				            <br />
				            <div class="response">
				            </div>
				            <h4> Example:</h4>
				            <p>Front: Who was the first President of the United States?<br>Back: George Washington</p>
				            <div class="text-center">
				            	<button class="myform" type="submit" value="basic">Create Card</button>
				            </div>
				         </fieldset>
	     			</form>
	     		</section>
	     		<section id="cloze" class="setup">
					<form> <!-- action="/localhost:8080" method="post" enctype="multipart/form-data" -->
				         <h3 class="text-center">Create Cloze Cards</h3>
				         <h3 id="clozeerror" class="text-center"></h3>
				         <fieldset>
				            <label for="front">Front of Card:</label>
				            <input ng-model="frontc" type="text" id="frontc" name="frontc" placeholder="Enter the statement for the Front" /><span class="myngstyle"> {{100 - frontc.length}} </span>
				            <br />
				            <label for="back">Back of Card:</label>
				            <input ng-model="backc" type="text" id="backc" name="backc" placeholder="Enter the text to remove from the statement" /><span class="myngstyle"> {{50 - backc.length}} </span>
				            <br />
				            <div class="response">
				            </div>
				            <h4> Example:</h4>
				            <p>Front: George Washington was the first President of the United States.<br>Back: George Washington</p><h5>(George Washington will be removed from the front before it is displayed.)</h5>
				            <div class="text-center">
				            	<button class="myform" type="submit" value="cloze">Create Card</button>
				            </div>
				         </fieldset>
	     			</form>
	     		</section>
	     		<section id="game" class="pgame">
					<div class="text-center"> 
				         <h2 id="choices"></h2>
				         <div id="playgame" class='mygame'>
				         </div>
				         <br>
				         <span id='answers' class='mygame text-center'>
				         	<label class='mygame ans' for="back">My Answer is:</label>
				            <input type="text" id="myans" class='mygame ans' name="myans" placeholder="Enter your answer here." />
				         	<button id='answer' class="mygame ans" type="submit" value="answer">Submit Answer</button>
				         </span>
				         <br>
				         <div id='success' class="text-center">
				         </div>
				         <div id='stats' class='text-center'>
				         </div>
				         <br>
				         <div id='myreset' class='text-center mygame'>
				         	<button id='reset' class="mygame ans" type="submit" value="reset">RESET Machine</button>
				         </div>
	     			</div>
	     		</section>
     		</div>
     	</div>
    </div>
    
</body>
</html>